src_TrainWithLabel/data/
models/
src_TrainWithLabel/outputs/
script/speaker-diarization-3.1/
script/audio_divider.py
src_competency/
ccpl_training_models/
ml/features/
ml/features_pca_5/
ml/features_pca_10/
ml/features_pca_30/
ml/features_raw/
autiogluon_models_multi/
ml/results/

**/__pycache__
*.DS_Store